@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
		margin:0;
 		padding:0;
 		font-family: 'Montserrat';
	}

	h2 {
		background-color: rgba(0,0,0,0.5);
	}

#home {
	background: url('../images/bg2.jpg');
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	min-height: 800px;
	-webkit-box-shawdow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about { 
	
	background: url("../images/bridge.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:800px;
	-webkit-box-shawdow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#blog { 
	
	background: url("../images/therock.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:800px;
}
#contact { 
	
	background: url("../images/rooftops.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}

.section-one h2 {
	font: bold 38px 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	top: 300px;
	left: 100px;
	padding: 7px;
	background-color: rbga(0,0,0,0.7);
}

.section-one {
	width: 100%;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}

.section-one p {
	width: 450px;
	margin: 10px 'Montserrat', sans-serif;
	line-height: 18px; 
	font: 14px 
}

.section-two h2 {
	font: bold 50px 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	top: 400px; 
	right: 400px;
	padding: 10px;
}

.section-two {
	width: 100%;
	min-height: 400px;
	position: relative;
	overflow: hidden;
}

.content-block p {
	padding-top: 35px;
	line-height: 25px; 
	font: 14px;
}

.content-block {
	width: 100%;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	-webkit-box-shawdow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.navbar {
	background-color: rgba(0,0,0, 0.8);
}

#profile-pic{
	height: 300px;
	width: 300px;
	margin-top: 50px;
	margin-left: 100px;
}

#contact-info {
	margin-top: 100px;
}

#intro-heading {
	font: bold 38px 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	top: 240px;
	left: 100px;
	background-color: rbga(0,0,0,0.7);
}

#last-intro {
	font: bold 38px 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	top: 179px;
	left: 100px;
	background-color: rbga(0,0,0,0.7);
}


.hidden {
	opacity: 0;
}

.visible{
	opacity: 1;
}

#about-section {
	margin-top: 25px;
}

.center {
	margin-left: 20px;
}

#wp-logo{
	margin-left: 45px;
}

#gh-logo{
	margin-left: 20px;
}

#twitter-logo {
	margin-left: 10px;
}


#gh-link {
	margin-left: 12px;
}

#twitter-widgetp-0 {
	margin-right: 10px;
}

.contact-container {
	margin-left: 15%;
	margin-top: 10%;
}

a {
	color: #333;
}

#gh-section {
	margin-left: 30px;
}

#li-logo {
	margin-left: 10px;
}

.stacks {
	text-align: center;
}

.stack-img {
	margin-top: 20px;
}

.skill-heading {
	margin-top: 35px;
}
 #web-logo{
 	height: 95px;
/* 	margin-top: 20px;*/
 }

 #contact-heading {
 	text-align: center;
 }

 #copyright {
 	text-align: center;
 	margin-top: 35px;
 }






















